[문제10]

데이터 제어 언어(DCL)인 GRANT에 대한 설명으로 옳은 것을 골라주세요

- 사용자에게 특정 작업을 수행할 권한을 부여한다.
- 사용자로부터 특정 작업 수행 권항을 제거한다.
- 다른 사용자에게 동일한 권한을 전달할때 사용한다.
- 부여된 권한 중 일부를 제한할때 사용한다.

정답 : 사용자에게 특정 작업을 수행할 권한을 부여한다.

[문제11]

테이블을 생성하기 위해서 사용되는 sql문을 선택해주세요

- CREATE TABLE
- CREATE NEW TABLE
- ADD TABLE
- UPDATE TABLE

정답 : CREATE TABLE

[문제12]

테이블 생성 시 컬럼(속성)에 값이 항상 존재하도록 설정하는 명령어를 선택해주세요

- IS NULL
- NOT NULL
- IN NULL
- NULL

정답 : NOT NULL

[문제13]

테이블 생성 시 컬럼(속성)에 중복된 값을 허용하지 않도록 설정하는 명령어를 모두 선택해주세요

- UNIQUE
- DEFAULT False
- PRIMARY KEY
- AUTO_INCREMENT

정답 : unique, primary key

[문제14]

데이터베이스의 숫자형 데이터 타입이 아닌것을 선택해주세요

- BIT
- INT
- CHAR
- BIGINT

정답 : char

[문제15]

날짜와 시간을 같이 나타내는 데이터 타입을 선택해주세요

- DATE
- TIME
- DATETIME

정답 : datetime

[문제16]

CHAR과 VARCHAR의 차이로 옳은 것을 선택해 주세요

- 저장할 수 있는 데이터 종류(문자, 숫자)가 다름
- 데이터를 담을 수 있는 공간이 고정인지 가변인지의 차이
- 문자열 값을 정수로 표현할 수 있는지의 차이
- 한번 입력된 데이터의 수정 여부의 차이

정답 : 데이터를 담을 수 있는 공간이 고정인지 가변인지의 차이 / char 고정, varchar 가변

[문제17]

데이터베이스 내의 트랜잭션을 관리하는데 사용되는 언어를 선택해주세요

- DCL
- DML
- TCL
- DDL

정답 : tcl

[문제18]

칼럼에 저장될 수 있는 값의 범위나 조건을 지정하는 명령어를 선택해주세요

- IN
- WHERE
- CHECK
- ON

정답 : CHECK

#### 프로젝트 개요

이 프로젝트는 사용자 정보와 주문 정보를 관리하는 간단한 데이터베이스 시스템을 구축하는 것입니다. 

이를 통해 MySQL의 사용자 관리, 테이블 생성, 데이터 타입, 제약 조건 등을 실습할 수 있습니다.

##### 프로젝트 구성
1. MySQL 사용자 생성 및 권한 부여
2. 데이터베이스와 테이블 생성

#### 과제 1: MySQL 사용자 생성 및 권한 부여

목표: MySQL에서 새로운 사용자를 생성하고, 권한을 부여합니다.

##### 개념 설명:

- MySQL 사용자: 데이터베이스에 접근하고 작업을 수행할 수 있는 계정을 의미합니다.
- 권한 부여: 특정 사용자에게 데이터베이스와 테이블에 대해 작업할 수 있는 권한을 부여합니다.

##### 세부 내용:
1. MySQL에 root 사용자로 로그인:

- mysql -u root -p 명령어를 사용하여 MySQL에 로그인합니다.
- 이 명령어는 MySQL의 관리자 계정인 root로 로그인하며, 비밀번호를 입력해야 합니다.

2. 새로운 MySQL 사용자 생성:

- CREATE USER 'username'@'localhost' IDENTIFIED BY 'password'; 명령어를 사용하여 새로운 사용자를 생성합니다.
- 예시: 붕어빵 가게의 데이터베이스 관리를 위해 fishbread_user라는 사용자를 생성합니다.
- username에는 새 사용자의 이름, password에는 사용자의 비밀번호를 입력합니다.

3. 사용자에게 권한 부여:

- GRANT ALL PRIVILEGES ON *.* TO 'username'@'localhost'; 명령어를 사용하여 새 사용자에게 모든 데이터베이스와 테이블에 대한 모든 권한을 부여합니다.
- 권한을 부여한 후, FLUSH PRIVILEGES; 명령어를 사용하여 변경된 권한을 적용합니다.

4. 부여된 권한 확인:

- SHOW GRANTS FOR 'username'@'localhost'; 명령어를 사용하여 새 사용자에게 부여된 권한을 확인합니다.
- SHOW GRANTS; 명령어를 사용하여 현재 로그인한 사용자의 권한을 확인할 수도 있습니다.

#### 과제 2: 데이터베이스와 테이블 생성
목표: 사용자와 주문 정보를 저장할 데이터베이스와 테이블을 생성합니다.

개념 설명:

- 데이터베이스: 데이터를 체계적으로 관리하는 공간입니다.
- 테이블: 데이터베이스 내에서 데이터를 저장하는 구조입니다.

데이터베이스 및 테이블 설계
1. 데이터베이스 생성:

- CREATE DATABASE fishbread_db; 명령어를 사용하여 붕어빵 가게의 데이터를 저장할 데이터베이스를 생성합니다.
- USE fishbread_db; 명령어를 사용하여 생성한 데이터베이스를 사용합니다.

2. users 테이블 생성:

- 사용자 정보를 저장하는 테이블을 생성합니다.
- user_id(INT, PRIMARY KEY, AUTO_INCREMENT): 사용자의 고유 ID
- name(VARCHAR(255), NOT NULL): 사용자 이름
- age(INT, NOT NULL): 사용자 나이
- email(VARCHAR(100), UNIQUE): 사용자 이메일
- is_business(BOOLEAN DEFAULT FALSE): 비즈니스 유무(기본값 FALSE)

3. orders 테이블 생성:

- 주문 정보를 저장하는 테이블을 생성합니다.
- order_id(INT, PRIMARY KEY, AUTO_INCREMENT): 주문의 고유 ID
- user_id(INT, FOREIGN KEY): 주문한 사용자의 ID (users 테이블의 user_id와 참조 관계)
- order_date(DATE): 주문 날짜
- amount(DECIMAL(10, 2)): 주문 금액

4. inventory 테이블 생성:

- 재고 정보를 저장하는 테이블을 생성합니다.
- item_id(INT, PRIMARY KEY, AUTO_INCREMENT): 재고 항목의 고유 ID
- item_name(VARCHAR(255), NOT NULL): 재고 항목 이름
- quantity(INT, NOT NULL): 재고 수량

5. sales 테이블 생성:

- 판매 정보를 저장하는 테이블을 생성합니다.
- sale_id(INT, PRIMARY KEY, AUTO_INCREMENT): 판매의 고유 ID
- order_id(INT, FOREIGN KEY): 주문 ID (orders 테이블의 order_id와 참조 관계)
- item_id(INT, FOREIGN KEY): 재고 항목의 ID (inventory 테이블의 item_id와 참조 관계)
- quantity_sold(INT, NOT NULL): 판매된 수량

6. daily_sales 테이블 생성:

- 일 매출 정보를 저장하는 테이블을 생성합니다.
- date(DATE, PRIMARY KEY): 날짜
- total_sales(DECIMAL(10, 2), NOT NULL): 총 매출

In [ ]:
mysql> SHOW GRANTS FOR 'fish_user'@'localhost';
+----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
| Grants for fish_user@localhost                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                           |
+----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
| GRANT SELECT, INSERT, UPDATE, DELETE, CREATE, DROP, RELOAD, SHUTDOWN, PROCESS, FILE, REFERENCES, INDEX, ALTER, SHOW DATABASES, SUPER, CREATE TEMPORARY TABLES, LOCK TABLES, EXECUTE, REPLICATION SLAVE, REPLICATION CLIENT, CREATE VIEW, SHOW VIEW, CREATE ROUTINE, ALTER ROUTINE, CREATE USER, EVENT, TRIGGER, CREATE TABLESPACE, CREATE ROLE, DROP ROLE ON *.* TO `fish_user`@`localhost`                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                              |
| GRANT ALLOW_NONEXISTENT_DEFINER,APPLICATION_PASSWORD_ADMIN,AUDIT_ABORT_EXEMPT,AUDIT_ADMIN,AUTHENTICATION_POLICY_ADMIN,BACKUP_ADMIN,BINLOG_ADMIN,BINLOG_ENCRYPTION_ADMIN,CLONE_ADMIN,CONNECTION_ADMIN,CREATE_SPATIAL_REFERENCE_SYSTEM,ENCRYPTION_KEY_ADMIN,FIREWALL_EXEMPT,FLUSH_OPTIMIZER_COSTS,FLUSH_PRIVILEGES,FLUSH_STATUS,FLUSH_TABLES,FLUSH_USER_RESOURCES,GROUP_REPLICATION_ADMIN,GROUP_REPLICATION_STREAM,INNODB_REDO_LOG_ARCHIVE,INNODB_REDO_LOG_ENABLE,OPTIMIZE_LOCAL_TABLE,PASSWORDLESS_USER_ADMIN,PERSIST_RO_VARIABLES_ADMIN,REPLICATION_APPLIER,REPLICATION_SLAVE_ADMIN,RESOURCE_GROUP_ADMIN,RESOURCE_GROUP_USER,ROLE_ADMIN,SENSITIVE_VARIABLES_OBSERVER,SERVICE_CONNECTION_ADMIN,SESSION_VARIABLES_ADMIN,SET_ANY_DEFINER,SHOW_ROUTINE,SYSTEM_USER,SYSTEM_VARIABLES_ADMIN,TABLE_ENCRYPTION_ADMIN,TELEMETRY_LOG_ADMIN,TRANSACTION_GTID_TAG,XA_RECOVER_ADMIN ON *.* TO `fish_user`@`localhost` |
+----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
2 rows in set (0.001 sec)

In [ ]:
| Table | Create Table                                                                                                                                                                                                                                                                                                                    |
+-------+---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
| users | CREATE TABLE `users` (
  `user_id` int NOT NULL AUTO_INCREMENT,
  `name` varchar(255) NOT NULL,
  `age` int NOT NULL,
  `email` varchar(100) DEFAULT NULL,
  `is_business` tinyint(1) DEFAULT '0',
  PRIMARY KEY (`user_id`),
  UNIQUE KEY `email` (`email`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci |
+-------+---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
1 row in set (0.000 sec)

+--------+------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
| Table  | Create Table                                                                                                                                                                                                                                                                                                                                                                             |
+--------+------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
| orders | CREATE TABLE `orders` (
  `order_id` int NOT NULL AUTO_INCREMENT,
  `user_id` int DEFAULT NULL,
  `order_date` date DEFAULT NULL,
  `amount` decimal(10,2) DEFAULT NULL,
  PRIMARY KEY (`order_id`),
  KEY `user_id` (`user_id`),
  CONSTRAINT `orders_ibfk_1` FOREIGN KEY (`user_id`) REFERENCES `users` (`user_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci |
+--------+------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
1 row in set (0.000 sec)

+-----------+----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
| Table     | Create Table                                                                                                                                                                                                                     |
+-----------+----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
| inventory | CREATE TABLE `inventory` (
  `item_id` int NOT NULL AUTO_INCREMENT,
  `item_name` varchar(255) NOT NULL,
  `quantity` int NOT NULL,
  PRIMARY KEY (`item_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci |
+-----------+----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
1 row in set (0.000 sec)

+-------+------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
| Table | Create Table                                                                                                                                                                                                                                                                                                                                                                                                                                                                                         |
+-------+------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
| sales | CREATE TABLE `sales` (
  `sale_id` int NOT NULL AUTO_INCREMENT,
  `order_id` int DEFAULT NULL,
  `item_id` int DEFAULT NULL,
  `quantity_sold` int NOT NULL,
  PRIMARY KEY (`sale_id`),
  KEY `order_id` (`order_id`),
  KEY `item_id` (`item_id`),
  CONSTRAINT `sales_ibfk_1` FOREIGN KEY (`order_id`) REFERENCES `orders` (`order_id`),
  CONSTRAINT `sales_ibfk_2` FOREIGN KEY (`item_id`) REFERENCES `inventory` (`item_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci |
+-------+------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
1 row in set (0.001 sec)

+-------------+----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
| Table       | Create Table                                                                                                                                                                           |
+-------------+----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
| daily_sales | CREATE TABLE `daily_sales` (
  `date` date NOT NULL,
  `total_sales` decimal(10,2) NOT NULL,
  PRIMARY KEY (`date`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci |
+-------------+----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
1 row in set (0.001 sec)